@import 'variables';

article.post {
  header {
    h1 {
      font-size: 32px;
      line-height: 1.5;
      margin: 0;
      padding: 0;
    }
    .meta {
      text-align: right;
      > li {
        display: inline-block;
        &.date {
          font-size: $font-sm;
          padding-right: 0.5rem;
        }
      }
    }
    .categories {
      li {
        background-color: #888;
        border-radius: 4px;
        color: #fff;
        display: inline-block;
        font-size: (12 / 16) + rem;
        padding: 3px 5px;
        + li {
          margin-left: 5px;
        }
      }
    }
  }
  .eyecatch {
    margin: 2rem 0;
    img {
      width: 100%;
    }
  }
  // No eyecatch
  header + .body {
    margin-top: 2rem;
  }
}
