@import "../common/include/variables";

.td-date {
  line-height: 1.3;
  white-space: nowrap;
  .date {
    margin-right: .6em;
  }
  .time {
    color: #666;
    font-size: $font-sm;
  }
}

.td-name {
  min-width: 100px;
}

.td-body {
  min-width: 300px;
  max-width: 400px;
}
