$btn-active-box-shadow: inset 0 3px 5px rgba(#000, .125) !default;
$btn-box-shadow       : inset 0 1px 0 rgba(#fff, .15), 0 1px 1px rgba(#000, .075) !default;
$btn-focus-width      : 1px;


.btn {
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid transparent;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  letter-spacing: 1px;
  text-indent: 1px;
  line-height: 1;
  padding: .75em 1em;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  &:hover {
    color: #fff;
    text-decoration: none !important;
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow:0 0 0 .2rem rgba(map-get($theme-colors, "primary"), .25);
  }

  &.disabled,
  &:disabled {
    color: color-yiq(#ccc);
    background-color: #ccc;
    border-color: #bbb;
    box-shadow: none;
  }
}

.btn-sm {
  font-size: $font-sm;
  padding: .5em;
}

@each $color, $value in $theme-colors {
  $background: $value;
  $border: $value;
  $hover-background: darken($background, 7.5%);
  $hover-border: darken($border, 10%);
  $active-background: darken($background, 10%);
  $active-border: darken($border, 12.5%);
  .btn-#{$color} {
    color: #fff;
    background-color: $background;
    border-color: $border;

    &:hover {
      color: #fff;
      background-color: $hover-background;
      border-color: $hover-border;
    }

    &:focus,
    &.focus {
      // Avoid using mixin so we can pass custom focus shadow properly
      //box-shadow: $btn-box-shadow, 0 0 0 $btn-focus-width rgba(mix(color-yiq($background), $border, 15%), .5);
      box-shadow: 0 0 0 $btn-focus-width rgba(mix(color-yiq($background), $border, 15%), .5);
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    .show > &.dropdown-toggle {
      color: color-yiq($active-background);
      background-color: $active-background;
      border-color: $active-border;

      &:focus {
        // Avoid using mixin so we can pass custom focus shadow properly
        //box-shadow: $btn-active-box-shadow, 0 0 0 $btn-focus-width rgba(mix(color-yiq($background), $border, 15%), .5);
        box-shadow: 0 0 0 $btn-focus-width rgba(mix(color-yiq($background), $border, 15%), .5);
      }
    }
  }
}
